* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-image: url("img/image2.png");
    /*background-color: #fafafae1;*/
}

.header {
    background-color: #42ce42;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav nav {
    display: flex;
    align-items: center;
}

.nav nav a {
    margin: 0 20px;
}

.nav nav span {
    margin: 0 30px 0 0;
    color: rgb(110, 36, 36);
    text-transform: capitalize;
    font-weight: 600;
}


/*Content*/

.content {
    max-width: 85%;
    margin: 10px auto;
}

.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}


/* Mensaje de Flahs*/

.flash {
    background-color: #0c950c;
    color: #fff;
    padding: 10px;
}


/*Index - Publicaciones*/

article {
    padding: 10px 0;
}

article header {
    margin: 10px 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

article header h1 {
    font-size: 26px;
}

article header .about {
    font-style: italic;
    color: #707070;
    font-size: 18px;
}


/*Formularios*/

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1e4e4;
}

form label,
input,
textarea {
    font-weight: 500;
    /*borde letra en registrar usuario*/
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    /*tamaño letra en registrar usuario*/
    padding: 10px;
}

form input[type=submit]:hover {
    background-color: #128ada;
    cursor: pointer;
}


/* LOGIN*/

.login {
    max-width: 50%;
    margin: 0 auto;
}

.login input[type=submit] {
    margin: 20px 0;
    min-width: 100%;
    background-color: #128ada;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.login input[type=submit]:hover {
    background-color: #128ada;
    cursor: pointer;
}