<!--  
{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Registrar ponente {% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Nombres</label>
        <input type="text" name="name" id="name" required>

        <label for="nationality">Nacionalidad</label>
        <input type="text" name="nationality" id="nationality" required>


        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>



        <input type="submit", value="Registrar">
    </form>
{% endblock %} -->